/*  your css code here. If applicable */
*{
	box-sizing:border-box;
	margin:0;
}
.modal{
	display: none;
	position:fixed;
	top:-100%;
    margin:auto;
    transition: top 0.5s ease-in;
    background-color: white;
    padding: 10px;
    width: 70vw;
}
.modal.open{
	display:block;
	top:10%;
	transform:translateY(50%);
}
.modal-header{
	padding:5px;
	color:white;
	background-color:green;
}
.modal-content{
	display:flex;
	flex-direction:column;
}
.close-modal{
	font-weight:600;
	font-size:12px;
	border:none;
	background-color:inherit;
}
.modal-body{
	display:flex;
	padding:10px;
	justify-content:space-between;
	align-items:center;
	padding:5px;
}