* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* The Modal (background) */
.modal {
  display: none; 
  position: fixed; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;  
  background-color:lightgray;
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin:15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close-modal {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}